---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
---

<Layout>
    <Header></Header>
    <Main class="min-h-screen bg-white"></Main>
</Layout>
