---
import { Image } from 'astro:assets';
import Skills from './Skills.astro'
import ProfileImg from '../assets/profile-img.jpg'
---

<section id="about" class="container mx-auto px-4 py-16 bg-gray-50">
  <div class="container mx-auto mt-2">
    <h2 class="text-3xl font-bold text-center mb-8">About Me</h2>
    <div class="container mx-auto px-4 items-center flex flex-col md:flex-row gap-4 lg:gap-8">
        <Image 
          src={ProfileImg}
          alt="Dave Piland"
          class="w-full md:w-1/3 lg:w-1/4 h-auto rounded-full shadow-lg mb-2"
        />
        <p class="text-gray-600 text-pretty flex-1">
          <strong>Full Stack Software Developer</strong> with 3+ years of experience.
          I solve problems with software and always try to pick the right tool for the job.
          <br>
          <br>
          As part of my development process, I excel at thinking from an end user's perspective and balancing that with driving business value.
          At the moment I'm primarily building end-to-end web applications using modern JavaScript frameworks and cloud technologies. 
        </p>
    </div>
    <div>
      <Skills></Skills>
    </div>
  </div>
</section>