---
const currentYear = new Date().getFullYear();
import { Github, Linkedin, FileText } from 'lucide-astro';
---

<footer class="border-t pt-6 pb-12 px-4 lg:px-4">
  <div class="container flex flex-col items-center justify-around gap-4 md:h-24 md:flex-row">
    <p class="text-center text-sm leading-loose text-muted-foreground md:text-left">
      This site is built by 
      <a href="#top" class="font-medium underline underline-offset-4">Dave Piland</a>
      &copy; {currentYear}. The source code is available on
      <a
        href="https://github.com/Dave-314land/portfolio-site"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4"
      >
        GitHub
      </a>
      .
    </p>
    <div class="flex items-center gap-6 ml-6">
      <a href="https://github.com/Dave-314land" target="_blank" rel="noopener noreferrer">
        <Github class="w-5 h-5 hover:text-sky-500 hover:scale-125 transition-colors" />
      </a>
      <a href="https://www.linkedin.com/in/davepiland/" target="_blank" rel="noopener noreferrer">
        <Linkedin class="w-5 h-5 hover:text-sky-500 hover:scale-125 transition-colors" />
      </a>
      <a href="https://dave-piland-resume.tiiny.site" target="_blank" rel="noopener noreferrer">
        <FileText class="w-5 h-5 hover:text-sky-500 hover:scale-125 transition-colors" />
      </a>
    </div>
  </div>
</footer>
