---
import { Github, Linkedin, FileText } from 'lucide-astro';
import PoweredByPiland from './PoweredByPiland.astro'
---

<header>
  <nav class="fixed w-full bg-white/80 backdrop-blur-sm border-b z-50">
      <div class="container mx-auto px-4 h-16 flex items-center justify-between">
          <PoweredByPiland></PoweredByPiland>
          <div class="flex items-center gap-6">
            <li class="list-none">
              <!-- Hiding until this section is complete -->
              <!-- <a href="#about" class="hover:text-green-500">About</a> -->
            </li>
            <li class="list-none">
              <!-- Hiding until this section is complete -->
              <!-- <a href="#work" class="hover:text-green-500">Work</a> -->
            </li>
          </div>
          <div class="flex items-center gap-6 ml-6">
              <a href="https://github.com/Dave-314land" target="_blank" rel="noopener noreferrer">
                <Github class="w-5 h-5 hover:text-green-500 transition-colors" />
              </a>
              <a href="https://www.linkedin.com/in/davepiland/" target="_blank" rel="noopener noreferrer">
                <Linkedin class="w-5 h-5 hover:text-green-500 transition-colors" />
              </a>
              <a href="https://dave-piland-resume.tiiny.site" target="_blank" rel="noopener noreferrer">
                <FileText class="w-5 h-5 hover:text-green-500 transition-colors" />
              </a>
          </div>
      </div>
  </nav>
</header>