---
import PoweredByPiland from './PoweredByPiland.astro'
import DesktopNav from './DesktopNav.astro'
import { MobileNav } from './MobileNav'
---

<header id="top" class="container mx-auto">
  <nav class="fixed container mx-auto px-4 bg-white/80 backdrop-blur-sm">
    <div class="h-16 flex items-center justify-between">
      <div>
        <PoweredByPiland></PoweredByPiland>
      </div>
      <!-- Desktop view - hidden on small and medium screens -->
      <div class="hidden lg:flex gap-24">
        <DesktopNav />
      </div>
      <!-- Mobile view - visible on small and medium screens -->
      <div class="lg:hidden">
        <MobileNav client:load/>
      </div>
    </div>
  </nav>
</header>