---
import Hero from './Hero.astro'
import About from './About.astro'
import Work from './Work.astro'
import Closing from './Closing.astro'
---

<main>
    <Hero></Hero>
    <Work></Work>
    <Closing></Closing>
</main>