---
import Hero from './Hero.astro'
import About from './About.astro'
import Projects from './Projects.astro'
import Closing from './Closing.astro'
---

<main>
    <Hero></Hero>
    <About></About>
    <Projects></Projects>
    <Closing></Closing>
</main>