<div class="flex items-center gap-1">
    <button class="powered-button" onclick="this.classList.toggle('active')">
        <span class="text-4xl font-bold powered-text">P</span>
    </button>
    <a href="/" class="text-2xl lg:text-3xl font-bold">owered By Piland</a>
</div>