<section id="skills" class="container mx-auto px-4 mt-4 py-8">
    <div class="container mx-auto">
        <h2 class="text-3xl font-semibold text-gray-800 text-center mb-8">Skills</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <!-- Card -->
            <div class="max-w-lg rounded overflow-hidden shadow-lg bg-gray-50/50">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-gray-700">Frontend</h3>
                    <p class="text-gray-600 mt-2 grid grid-cols-3 xl:grid-cols-4 gap-2">
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">HTML</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">CSS</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">Bootstrap</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">Tailwind</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">JavaScript</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">TypeScript</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">React</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">Astro</span>
                    </p>
                </div>
            </div>
            <!-- Card -->
            <div class="max-w-lg rounded overflow-hidden shadow-lg bg-gray-50/50">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-gray-700">Backend</h3>
                    <p class="text-gray-600 mt-2 grid grid-cols-3 xl:grid-cols-4 gap-2">
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">Node</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">Python</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">Express</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">REST APIs</span>
                    </p>
                </div>
            </div>
            <!-- Card -->
            <div class="max-w-lg rounded overflow-hidden shadow-lg bg-gray-50/50">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-gray-700">Databases & ORMs</h3>
                    <p class="text-gray-600 mt-2 grid grid-cols-3 xl:grid-cols-4 gap-2">
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">PostgreSQL</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">SQL Server</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">MongoDB</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">Prisma</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">Sequelize</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">Mongoose</span>
                    </p>
                </div>
            </div>
            <!-- Card -->
            <div class="max-w-lg rounded overflow-hidden shadow-lg bg-gray-50/50">
                <div class="p-4">
                    <h3 class="text-xl font-semibold text-gray-700">Cloud & DevOps</h3>
                    <p class="text-gray-600 mt-2 grid grid-cols-3 xl:grid-cols-4 gap-2">
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">AWS</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">Azure</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">Ansible</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">Bash</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">Docker</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">Git</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">Grafana</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">Prometheus</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">Terraform</span>
                        <span class="bg-gray-200 rounded-sm py-1 text-center text-sm font-semibold text-gray-700">Typer</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>